option_settings:
  aws:elasticbeanstalk:customoption:
    UserStudyEmail: henneberg.maximilian@googlemail.com
  aws:elasticbeanstalk:application:environment:
    AWS_REGION: '`{"Ref" : "AWS::Region"}`'
    TABLE_SYNC_SCORE: SyncScore
    TABLE_USER_DATA: UserData
    TOPIC_USER_STUDY: '`{"Ref" : "UserStudyTopic"}`'
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx
